@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0f172a; /* Slate 900 */
  color: #ffffff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar pour un look tech */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a; 
}
::-webkit-scrollbar-thumb {
  background: #475569; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #22d3ee; /* Cyan-400 */
}